{% extends "pages/master_page.html" %} 
{% load static %}
{% block title %} our services  {% endblock %} 



{% block content %}

                <!-- Portfolio Details Start -->
        <section class="portfolio-details">
            <div class="container">
                <div class="portfolio-details__image wow fadeInUp" data-wow-delay="200ms">
                    <img src="{{data.projectdetailimage.url}}" alt="nisoz">
                </div><!-- /.portfolio-image -->
                <div class="row">
                    <div class="col-xl-8 col-lg-7 wow fadeInLeft" data-wow-delay="300ms">
                        <div class="portfolio-details__content">
                            <h3 class="portfolio-details__content__title">{{ data.title }}</h3>
                            <p>
                                     {{data.details|safe}} <!-- remove linebreaks -->

                            </p>
                            
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 wow fadeInRight" data-wow-delay="400ms">
                        <div class="portfolio-details__right">
                            <ul class="portfolio-details__info-list list-unstyled">
                                <li><span>Date:</span>{{ data.date }}</li>
                                <li><span>Services:</span>{{ data.services }}</li>
                                <li><span>Client:</span>{{ data.client }}</li>
                                <li><span>Location:</span>{{ data.location }}</li>
                            </ul>
                            <!-- remove linebreaks 
                            <div class="portfolio-details__socials">
                                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a>
                                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                            </div>
                            -->
                        </div>
                    </div>
                </div><!-- /.portfolio-details-content 
                <div class="portfolio-details__pagination wow fadeInUp" data-wow-delay="400ms">
                    <a class="portfolio-details__pagination__previous" href="portfolio-details.html" aria-label="Previous">
                        <i class="icon-left-arrow"></i>
                        <span>Previous project</span>Filmor Experience
                    </a>
                    <a class="portfolio-details__pagination__next" href="portfolio-details.html" aria-label="Next">
                        <span>Next project</span>Filmor Experience
                        <i class="icon-right-arrow"></i>
                    </a>
                </div><! /.pagination -->
            </div>
        </section>

{% endblock %}