 {% load static %}
        <!-- About Start -->
        <section class="about-one" style="background-image: url(assets/images/shapes/about-1-bg-1.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="about-one__thumb"><!-- about thumb start -->
                            <div class="about-one__thumb__one wow fadeInLeft" data-wow-delay="100ms">
                                <img src="{% static 'assets/images/resources/about-1-1.jpg' %} " alt="nisoz">
                            </div>
                            <div class="about-one__thumb__two nisoz-tilt" data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 10, "speed": 700, "scale": 1 }'>
                                <img src="{% static 'assets/images/resources/about-1-2.jpg' %} " alt="nisoz">
                            </div>
                            <div class="about-one__fact-wrapper wow fadeInUp" data-wow-delay="200ms">
                                <div class="about-one__fact">
                                    <div class="about-one__fact__icon"><span class="icon-expertise"></span></div><!-- /.fact-one__icon -->
                                    <div class="about-one__fact__count">
                                        <span class="count-box">
                                            <span class="count-text" data-stop="30" data-speed="1500"></span>
                                        </span>+
                                    </div><!-- /.fact-one__count -->
                                    <h3 class="about-one__fact__title">Years Experience</h3><!-- /.fact-one__title -->
                                </div><!-- /.fact-item -->
                                <div class="about-one__fact">
                                    <div class="about-one__fact__icon"><span class="icon-development"></span></div><!-- /.fact-one__icon -->
                                    <div class="about-one__fact__count">
                                        <span class="count-box">
                                            <span class="count-text" data-stop="28" data-speed="1500"></span>
                                        </span>+
                                    </div><!-- /.fact-one__count -->
                                    <h3 class="about-one__fact__title">experienced team</h3><!-- /.fact-one__title -->
                                </div><!-- /.fact-item -->
                            </div>
                        </div><!-- about thumb end -->
                    </div>
                    <div class="col-xl-6">
                        <div class="about-one__content"><!-- about content start-->
                            <div class="section-title">
                                <div class="section-title__triangle">
                                    <span class="section-title__triangle-left"></span>
                                    <span class="section-title__triangle-right"></span>
                                </div>
                                <h5 class="section-title__tagline">about agency</h5>
                                <h2 class="section-title__title">we’re solutions to your creative business</h2>
                            </div><!-- section-title -->
                            <p class="about-one__content__text">
                                There are many variations of simply free text passages of available but the majority have suffered alteration in some form,
                                by injected hum randomised words which don't slightly.
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="about-one__box">
                                        <div class="about-one__box__top">
                                            <h4 class="about-one__box__title">get free consultation</h4>
                                            <div class="about-one__box__icon"><span class="icon-customer-support"></span></div>
                                        </div>
                                        <p class="about-one__box__text">Good knowledge becuase done something many times.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-one__box">
                                        <div class="about-one__box__top">
                                            <h4 class="about-one__box__title">High quality projects</h4>
                                            <div class="about-one__box__icon"><span class="icon-good-quality"></span></div>
                                        </div>
                                        <p class="about-one__box__text">Good knowledge becuase done something many times.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="about-one__progress">
                                <h4 class="about-one__progress--title">Website Designing</h4>
                                <div class="about-one__progress--bar">
                                    <div class="about-one__progress--inner count-bar" data-percent="77%">
                                        <div class="about-one__progress--number count-text">77%</div>
                                    </div>
                                </div>
                            </div><!-- /.skills-item -->
                            <a href="about.html" class="nisoz-btn">
                                <span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span>
                                <span class="nisoz-btn__text">Discover More</span>
                            </a><!-- /.btn -->
                        </div><!-- about content end-->
                    </div>
                </div>
            </div>
        </section>
        <!-- About End -->