 {% load static %}

<!--Main Slider Start-->
        <section class="main-slider">
            <div class="main-slider__one nisoz-owl__carousel owl-carousel" data-owl-options='{
		"loop": true,
		"animateOut": "slideOutDown",
		"animateIn": "fadeIn",
		"items": 1,
		"smartSpeed": 1000, 
        "autoplay": true, 
        "autoplayTimeout": 6000, 
		"autoplayHoverPause": true,
		"nav": false,
		"dots": true,
		"margin": 0
	    }'>
                <div class="item"><!-- slider item start -->
                    <div class="main-slider__item">
                        <div class="main-slider__shape-1">
                            <img src="{% static 'assets/images/shapes/slider-1-bg-1.png' %} " alt="nisoz">
                        </div><!-- shape-one -->
                        <div class="main-slider__shape-2">
                            <img src="{% static 'assets/images/shapes/slider-1-shape-1.png' %} " alt="nisoz">
                        </div><!-- shape-two -->
                        <div class="main-slider__shape-3">
                            <img src="{% static 'assets/images/backgrounds/slier-1-bg-1.jpg' %} " alt="nisoz">
                        </div><!-- shape-three -->
                        <div class="main-slider__shape-4">
                            <img src="{% static 'assets/images/shapes/slider-1-shape-2.png' %} " alt="nisoz">
                        </div><!-- shape-four -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">Creative <br>Services For <br>Your Business</h2><!-- slider-title -->
                                        <p class="main-slider__text">We are delivering the best services to our customers.</p><!-- slider-text -->
                                        <div class="main-slider__btn">
                                            <a href="about.html" class="nisoz-btn">
                                                <span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span>
                                                <span class="nisoz-btn__text">Discover More</span>
                                            </a><!-- /.btn -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- slider item end -->
                <div class="item"><!-- slider item start -->
                    <div class="main-slider__item">
                        <div class="main-slider__shape-1">
                            <img src="{% static 'assets/images/shapes/slider-1-bg-1.png' %} " alt="nisoz">
                        </div><!-- shape-one -->
                        <div class="main-slider__shape-2">
                            <img src="{% static 'assets/images/shapes/slider-1-shape-1.png' %} " alt="nisoz">
                        </div><!-- shape-two -->
                        <div class="main-slider__shape-3">
                            <img src="{% static 'assets/images/backgrounds/slier-1-bg-2.jpg' %} " alt="nisoz">
                        </div><!-- shape-three -->
                        <div class="main-slider__shape-4">
                            <img src="{% static 'assets/images/shapes/slider-1-shape-2.png' %} " alt="nisoz">
                        </div><!-- shape-four -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">Creative <br>Services For <br>Your Business</h2><!-- slider-title -->
                                        <p class="main-slider__text">We are delivering the best services to our customers.</p><!-- slider-text -->
                                        <div class="main-slider__btn">
                                            <a href="about.html" class="nisoz-btn">
                                                <span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span>
                                                <span class="nisoz-btn__text">Discover More</span>
                                            </a><!-- /.btn -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- slider item end -->
                <div class="item"><!-- slider item start -->
                    <div class="main-slider__item">
                        <div class="main-slider__shape-1">
                            <img src="{% static 'assets/images/shapes/slider-1-bg-1.png' %} " alt="nisoz">
                        </div><!-- shape-one -->
                        <div class="main-slider__shape-2">
                            <img src="{% static 'assets/images/shapes/slider-1-shape-1.png' %} " alt="nisoz">
                        </div><!-- shape-two -->
                        <div class="main-slider__shape-3">
                            <img src="{% static ' assets/images/backgrounds/slier-1-bg-3.jpg' %}" alt="nisoz">
                        </div><!-- shape-three -->
                        <div class="main-slider__shape-4">
                            <img src="{% static 'assets/images/shapes/slider-1-shape-2.png' %} " alt="nisoz">
                        </div><!-- shape-four -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">Creative <br>Services For <br>Your Business</h2><!-- slider-title -->
                                        <p class="main-slider__text">We are delivering the best services to our customers.</p><!-- slider-text -->
                                        <div class="main-slider__btn">
                                            <a href="about.html" class="nisoz-btn">
                                                <span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span>
                                                <span class="nisoz-btn__text">Discover More</span>
                                            </a><!-- /.btn -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- slider item end -->
            </div>
        </section>
        <!--Main Slider End-->