{% load static %}


        <!-- Portfolio Start -->
        <section class="portfolio-one">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <div class="section-title__triangle">
                                <span class="section-title__triangle-left"></span>
                                <span class="section-title__triangle-right"></span>
                            </div>
                            <h5 class="section-title__tagline">our completed works</h5>
                            <h2 class="section-title__title">Recent clients projects</h2>
                        </div><!-- section-title -->
                    </div>
                </div>
                <div class="portfolio-one__slider nisoz-owl__carousel owl-carousel" data-owl-options='{
            "loop": true,
            "items": 3,
            "smartSpeed": 1000, 
            "autoplay": true, 
            "autoplayTimeout": 6000, 
            "center": true,
            "nav": false,
            "dots": false,
            "margin": 30,
            "responsive":{
                "0":{
                    "items": 1,
                    "margin": 0
                },
                "768":{
                    "items": 1.5
                },
                "992":{
                    "items": 2
                },
                "1300":{
                    "items": 3
                }
            }
            }'>
                    <div class="item"><!-- slider-item-start -->
                        <div class="portfolio-one__item">
                            <div class="portfolio-one__thumb">
                                <img src="{% static 'assets/images/portfolio/portfolio-1-1.jpg' %}" alt="nisoz" />
                            </div>
                            <div class="portfolio-one__hover">
                                <a class="portfolio-one__read-more" href="portfolio-details.html"><span class="icon-right-arrow"></span></a>
                                <div class="portfolio-one__hover-bottom">
                                    <div class="portfolio-one__cats"><a href="portfolio.html">Creative</a></div>
                                    <h3 class="portfolio-one__title"><a href="portfolio-details.html">Technology website business development</a></h3>
                                </div>
                            </div>
                        </div><!-- folio-item -->
                    </div><!-- slider-item-end -->
                    <div class="item"><!-- slider-item-start -->
                        <div class="portfolio-one__item">
                            <div class="portfolio-one__thumb">
                                <img src="{% static 'assets/images/portfolio/portfolio-1-1.jpg' %}" alt="nisoz" />
                            </div>
                            <div class="portfolio-one__hover">
                                <a class="portfolio-one__read-more" href="portfolio-details.html"><span class="icon-right-arrow"></span></a>
                                <div class="portfolio-one__hover-bottom">
                                    <div class="portfolio-one__cats"><a href="portfolio.html">Creative</a></div>
                                    <h3 class="portfolio-one__title"><a href="portfolio-details.html">Technology website business development</a></h3>
                                </div>
                            </div>
                        </div><!-- folio-item -->
                    </div><!-- slider-item-end -->

                    <div class="item"><!-- slider-item-start -->
                        <div class="portfolio-one__item">
                            <div class="portfolio-one__thumb">
                                <img src="{% static 'assets/images/portfolio/portfolio-1-1.jpg' %}" alt="nisoz" />
                            </div>
                            <div class="portfolio-one__hover">
                                <a class="portfolio-one__read-more" href="portfolio-details.html"><span class="icon-right-arrow"></span></a>
                                <div class="portfolio-one__hover-bottom">
                                    <div class="portfolio-one__cats"><a href="portfolio.html">Creative</a></div>
                                    <h3 class="portfolio-one__title"><a href="portfolio-details.html">Technology website business development</a></h3>
                                </div>
                            </div>
                        </div><!-- folio-item -->
                    </div><!-- slider-item-end -->
                    <div class="item"><!-- slider-item-start -->
                        <div class="portfolio-one__item">
                            <div class="portfolio-one__thumb">
                                <img src="{% static 'assets/images/portfolio/portfolio-1-1.jpg' %}" alt="nisoz" />
                            </div>
                            <div class="portfolio-one__hover">
                                <a class="portfolio-one__read-more" href="portfolio-details.html"><span class="icon-right-arrow"></span></a>
                                <div class="portfolio-one__hover-bottom">
                                    <div class="portfolio-one__cats"><a href="portfolio.html">Creative</a></div>
                                    <h3 class="portfolio-one__title"><a href="portfolio-details.html">Technology website business development</a></h3>
                                </div>
                            </div>
                        </div><!-- folio-item -->
                    </div><!-- slider-item-end -->
                    
                </div><!-- slider-end -->
            </div>
        </section>
        <!-- Portfolio End -->