{% load static %}

        <!--Testimonial Start-->
        <section class="testimonial-one">
            <div class="container">
                <div class="testimonial-one__carousel nisoz-owl__carousel owl-theme owl-carousel" data-owl-options='{
            "items": 1,
            "margin": 0,
            "smartSpeed": 700,
            "loop":true,
            "autoplay": true,
            "nav":true,
            "dots":false,
            "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"]
            }'>

                    <!-- Testimonial Item -->
                    <div class="item">
                        <div class="testimonial-one__item">
                            <div class="testimonial-one__author">
                                <img src=" {% static 'assets/images/resources/testimonial-1-2.jpg' %} " alt="nisoz">
                                <div class="testimonial-one__icon"><span class="icon-quote"></span></div><!-- testimonial-quote-icon -->
                                <div class="testimonial-one__border">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="290" viewBox="0 0 21 290">
                                        <path class="cls-1" d="M761,4387h1v76.34l-20,24.11,20,26.24V4677h-1V4513.68l-20-26.16,20-24.1V4387Z" transform="translate(-741 -4387)" />
                                    </svg>
                                </div><!-- svg-border -->
                            </div><!-- testimonial-author-thumb -->
                            <div class="testimonial-one__content">
                                <div class="testimonial-one__ratings">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div><!-- testimonial-ratings -->
                                <div class="testimonial-one__quote">
                                    This is due to their excellent service, competitive pricing and customer support. It’s through refresing to get such a personal touch.
                                    Duis aute irure dolor in reprehenderit esse simply free text available in the market.
                                </div><!-- testimonial-quote -->
                                <div class="testimonial-one__meta">
                                    <h5 class="testimonial-one__title">aleesha michale</h5>
                                    <span class="testimonial-one__designation">ceo & co founder</span>
                                </div><!-- testimonial-meta -->
                            </div><!-- testimonial-content -->
                        </div>
                    </div>
                    <!-- Testimonial Item -->


                    <!-- Testimonial Item -->
                    <div class="item">
                        <div class="testimonial-one__item">
                            <div class="testimonial-one__author">
                                <img src=" {% static 'assets/images/resources/testimonial-1-2.jpg' %} " alt="nisoz">
                                <div class="testimonial-one__icon"><span class="icon-quote"></span></div><!-- testimonial-quote-icon -->
                                <div class="testimonial-one__border">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="290" viewBox="0 0 21 290">
                                        <path class="cls-1" d="M761,4387h1v76.34l-20,24.11,20,26.24V4677h-1V4513.68l-20-26.16,20-24.1V4387Z" transform="translate(-741 -4387)" />
                                    </svg>
                                </div><!-- svg-border -->
                            </div><!-- testimonial-author-thumb -->
                            <div class="testimonial-one__content">
                                <div class="testimonial-one__ratings">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div><!-- testimonial-ratings -->
                                <div class="testimonial-one__quote">
                                    This is due to their excellent service, competitive pricing and customer support. It’s through refresing to get such a personal touch.
                                    Duis aute irure dolor in reprehenderit esse simply free text available in the market.
                                </div><!-- testimonial-quote -->
                                <div class="testimonial-one__meta">
                                    <h5 class="testimonial-one__title">aleesha michale</h5>
                                    <span class="testimonial-one__designation">ceo & co founder</span>
                                </div><!-- testimonial-meta -->
                            </div><!-- testimonial-content -->
                        </div>
                    </div>
                    <!-- Testimonial Item -->


                                        <!-- Testimonial Item -->
                    <div class="item">
                        <div class="testimonial-one__item">
                            <div class="testimonial-one__author">
                                <img src=" {% static 'assets/images/resources/testimonial-1-2.jpg' %} " alt="nisoz">
                                <div class="testimonial-one__icon"><span class="icon-quote"></span></div><!-- testimonial-quote-icon -->
                                <div class="testimonial-one__border">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="290" viewBox="0 0 21 290">
                                        <path class="cls-1" d="M761,4387h1v76.34l-20,24.11,20,26.24V4677h-1V4513.68l-20-26.16,20-24.1V4387Z" transform="translate(-741 -4387)" />
                                    </svg>
                                </div><!-- svg-border -->
                            </div><!-- testimonial-author-thumb -->
                            <div class="testimonial-one__content">
                                <div class="testimonial-one__ratings">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div><!-- testimonial-ratings -->
                                <div class="testimonial-one__quote">
                                    This is due to their excellent service, competitive pricing and customer support. It’s through refresing to get such a personal touch.
                                    Duis aute irure dolor in reprehenderit esse simply free text available in the market.
                                </div><!-- testimonial-quote -->
                                <div class="testimonial-one__meta">
                                    <h5 class="testimonial-one__title">aleesha michale</h5>
                                    <span class="testimonial-one__designation">ceo & co founder</span>
                                </div><!-- testimonial-meta -->
                            </div><!-- testimonial-content -->
                        </div>
                    </div>
                    <!-- Testimonial Item -->


                                        <!-- Testimonial Item -->
                    <div class="item">
                        <div class="testimonial-one__item">
                            <div class="testimonial-one__author">
                                <img src=" {% static 'assets/images/resources/testimonial-1-2.jpg' %} " alt="nisoz">
                                <div class="testimonial-one__icon"><span class="icon-quote"></span></div><!-- testimonial-quote-icon -->
                                <div class="testimonial-one__border">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="290" viewBox="0 0 21 290">
                                        <path class="cls-1" d="M761,4387h1v76.34l-20,24.11,20,26.24V4677h-1V4513.68l-20-26.16,20-24.1V4387Z" transform="translate(-741 -4387)" />
                                    </svg>
                                </div><!-- svg-border -->
                            </div><!-- testimonial-author-thumb -->
                            <div class="testimonial-one__content">
                                <div class="testimonial-one__ratings">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div><!-- testimonial-ratings -->
                                <div class="testimonial-one__quote">
                                    This is due to their excellent service, competitive pricing and customer support. It’s through refresing to get such a personal touch.
                                    Duis aute irure dolor in reprehenderit esse simply free text available in the market.
                                </div><!-- testimonial-quote -->
                                <div class="testimonial-one__meta">
                                    <h5 class="testimonial-one__title">aleesha michale</h5>
                                    <span class="testimonial-one__designation">ceo & co founder</span>
                                </div><!-- testimonial-meta -->
                            </div><!-- testimonial-content -->
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                </div>
            </div>
        </section>
        <!--Testimonial End-->